[build]
rustflags = [
  # Required to obtain backtraces (e.g. when using the "esp-backtrace" crate.)
  # NOTE: May negatively impact performance of produced code
  "-C",
  "force-frame-pointers",
]

target = "riscv32imac-unknown-none-elf"

[target.riscv32imac-unknown-none-elf]
runner = "espflash flash --monitor --chip esp32c6 --log-format defmt -F full --partition-table=partitions.csv"


# [target.'cfg(all(feature = "esp32c6", feature="defmt"))']
# runner = "espflash flash --monitor --chip esp32c6 --log-format defmt -F full --partition-table=partitions.csv"
# runner = "env"

# port COM15

[env]
# DEFMT_LOG = "info"
DEFMT_LOG = "trace,embassy_net=debug,esp_hal::dma=info,esp_hal=info,esp_radio=info,smoltcp=info,sntpc=debug,embedded_tls=info"
ESP_LOG = "trace,embassy_net=debug,esp_hal::dma=info,esp_hal=info,esp_radio=info,smoltcp=info,sntpc=debug,embedded_tls=info"
# ESP_LOG = "debug,esp_hal::dma=info,esp_hal=info,esp_radio=info,smoltcp=trace,sntpc=info,embedded_tls=trace"
# ESP_LOG = "info"
MONITOR_BAUD = "115200"
ESPFLASH_BAUD = "460800"
# WIFI_SSID = { value = "fbi", force = false }
# WIFI_PASSWORD = { value = "flowers by irene", force = false }
# NIGHTSCOUT_URL = { value = "http://example.com", force = false }
# NIGHTSCOUT_TOKEN = { value = "ride on the bus", force = false }
NTP_SERVER = "pool.ntp.org"

# [target.'cfg(target_arch = "riscv32")']
# runner = "espflash flash --monitor --chip esp32c6 --log-format defmt --partition-table=partitions.csv"
# rustflags = ["-C", "link-arg=-Tlinkall.x", "-C", "force-frame-pointers"]

# [target.'cfg(target_arch = "xtensa")']
# runner = "espflash flash --monitor --chip esp32c6 --log-format defmt --partition-table=partitions.csv"
# rustflags = [
#   # GNU LD
#   "-C",
#   "link-arg=-Wl,-Tlinkall.x",
#   "-C",
#   "link-arg=-nostartfiles",

#   # LLD
#   # "-C", "link-arg=-Tlinkall.x",
#   # "-C", "linker=rust-lld",
# ]

[unstable]
build-std = ["alloc", "core"]
